<div class="author">
    <h1 class="author__heading">Hey, This Is Tanvir</h1>
    <p class="author__body">Random thoughts</p>
</div>

<img src="/img/hero-image.jpg" class="hero-image" width="981" height="528">

<section class="articles">
    <h1 class="articles__heading"> Latest Posts</h1>

    <ul class="article-ul">
        <% data.forEach(post => { %>
            <li>
                <a href="#">
                    <span> <%= post.title %></span>
                    <span class="article-list__date"><%= post.createdAt.toDateString() %></span>
                </a>
            </li>
        <% }) %>
    </ul>

    <a href="#" class="pagination">&lt; View Older Posts</a>

</section>