<div class="author">
    <h1 class="author__heading">Hey, Welcome to <span style="color: red;">TheReviewer</span></h1>
    <p class="author__body">Your go to place to read insightful reviews for video games</p>
</div>

<img src="/img/hero-image.jpg" class="hero-image" width="981" height="528">

<section class="articles">
    <h1 class="articles__heading"> Latest Posts</h1>

    <ul class="article-ul">
        <% data.forEach(post => { %>
            <li>
                <a href="/post/<%= post._id %>">
                    <span> <%= post.title %></span>
                    <span class="article-list__date"><%= post.createdAt.toDateString() %></span>
                </a>
            </li>
        <% }) %>
    </ul>

    <% if (nextPage !== null) { %>
        <a href="/?page=<%= nextPage %>" class="pagination">&lt; View Older Posts</a>
    <% } %>
    

</section>